In [20]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt 
import glob
import os

In [21]:
csv_files = glob.glob('oulad_data/*.csv')
dataframes = {os.path.basename(file): pd.read_csv(file) for file in csv_files}

In [22]:
dataframes.keys()

dict_keys(['assessments.csv', 'courses.csv', 'studentAssessment.csv', 'studentInfo.csv', 'studentRegistration.csv', 'studentVle.csv', 'vle.csv'])

In [ ]:
for names in list(dataframes.keys()):
    old_name = names
    new_name = names.removesuffix(".csv")
    dataframes.update( {new_name: dataframes.pop(old_name)})

assessments
courses
studentAssessment
studentInfo
studentRegistration
studentVle
vle

In [24]:
dataframes.keys()

dict_keys(['assessments', 'courses', 'studentAssessment', 'studentInfo', 'studentRegistration', 'studentVle', 'vle'])

In [25]:
dataframes['assessments'].head()

  code_module code_presentation  id_assessment assessment_type  date  weight
0         AAA             2013J              1             TMA    30      20
1         AAA             2013J              2             TMA    75      20
2         AAA             2013J              3             TMA   120      20
3         AAA             2013J              4            Exam   230     100
4         AAA             2014B              5             TMA    30      20

In [26]:
dataframes['courses'].head()

  code_module code_presentation  length
0         AAA             2013J     240
1         AAA             2014B     240
2         BBB             2013J     240
3         BBB             2014B     240
4         CCC             2013J     240